name: CD Pipeline

on:
  workflow_run:
    workflows: ['CI Pipeline']
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Clean up unused Docker images
        run: |
          sudo docker container prune -f || true
          sudo docker image prune -af || true

      - name: Pull Docker image
        run: sudo docker pull nhatnguyen0903/qdfood-api:latest

      - name: Delete old Docker container
        run: sudo docker rm -f qdfood-api-container || true

      - name: Run Docker container
        run: |
          sudo docker run -d \
            --name qdfood-api-container \
            -p 8000:8000 \
            --restart always \
            --env-file /root/project/env/api/.env \
            --network=npm-network \
            --dns 8.8.8.8 \
            --hostname=qdfood-api-host \
            nhatnguyen0903/qdfood-api:latest
